/* Basic styling for all pages */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.logo {
    max-width: 200px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h3 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.summary-grid {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.summary-item {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.summary-item img {
    max-width: 80px;
    height: auto;
    margin-bottom: 10px;
}

.cost-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cost-table {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    width: 48%;
    margin-bottom: 20px;
    
    font-size: 2px;
}

.cost-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    font-size: 2px;
}

.total-cost {
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    margin-top: 10px;
}

.button {
    display: block;
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: #28a745;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 30px;
}

.button:hover {
    background-color: #218838;
}

h3 {
    color: #333;
    text-align: center;
}
